@import "compass/_reset";
@import "compass/utilities/general/clearfix";


body, html {
  font-family: sans-serif;
  font-size: 100%;
}

button {
  font-family: sans-serif;
}

.text-small {
  font-size: 0.8em;
}

#month {

  header {

    .heading {
      background-color: #0A7AA6;
      color: #fff;
      padding: 0.5em 1em;

      h1 {
        font-size: 1.4em;
        line-height: 1.2;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
      }

      button {
        display: inline-block;
        vertical-align: middle;

      }

      p {
        margin-top: 0.25em;
        color: #ccc;
      }
    }

    form {
      background-color: #fff;
      margin-bottom: 1em;
      padding: 0.5em 1em;
      border: 1px solid #ccc;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

      .flash {
        color: red;
        margin-top: 0.5em;
      }

      label {
        display: inline-block;
        margin-right: 0.5em;
      }

      input[name="dato"], input[name="timer"] {
        width: 4em;
      }

      input {
        font-family: sans-serif;
        font-size: 100%;
      }
    }
  }

  .content {

    table {
      margin: 0.5em 1em;

      th, td {
        padding: 0.5em 1em;
      }

      th {
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #666;
      }

      tr:nth-child(2n+2) td {
        background-color: #eee;
      }

      tr.selected td {
        background-color: #94c3f0;
      }
    }

    .no-entries {
      padding: 0.5em 1em;
    }
  }
}