@import "reset.css";

body, html {
    font-family: sans-serif;
    font-size: 100%;
}

button {
    font-family: sans-serif;
}

.text-small {
    font-size: 0.8em;
}

#month header .heading {
    background-color: #0A7AA6;
    color: #fff;
    padding: 0.5em 1em;
}
#month header .heading h1 {
    font-size: 1.4em;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}
#month header .heading button {
    display: inline-block;
    vertical-align: middle;
}
#month header .heading p {
    margin-top: 0.25em;
    color: #ccc;
}
#month header form {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
#month header form .flash {
    color: red;
    margin-top: 0.5em;
}
#month header form label {
    display: inline-block;
    margin-right: 0.5em;
}
#month header form input[name="dato"], #month header form input[name="timer"] {
    width: 4em;
}
#month header form input {
    font-family: sans-serif;
    font-size: 100%;
}
#month .content table {
    margin: 0.5em 1em;
}
#month .content table th, #month .content table td {
    padding: 0.5em 1em;
}
#month .content table th {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #666;
}
#month .content table tr:nth-child(2n+2) td {
    background-color: #eee;
}
#month .content table tr.selected td {
    background-color: #94c3f0;
}
#month .content .no-entries {
    padding: 0.5em 1em;
}
